.basic-modal {
    background-color: rgb(205, 223, 247);
    display: flex;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
}

.basic-modal-content {
    background-color: rgb(205, 223, 247);
    border-radius: 20px;
    margin: auto;
    padding: 25px;
    position: relative;
    width: 40%;
    z-index: 1;
}

.basic-modal-content h1 {
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    padding-bottom: 25px;
}

.basic-modal-close {
    height: 30px;
    width: 30px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 50%;
    font-weight: bold;
    color: #dedede;
    cursor: pointer;
}

.basic-modal-close:hover {
    color: #ff0000;
    background-color: #dedede;
}
