﻿.navbar li .glyphicon {
    margin-right: 5px;
    color: white;
}

/* Highlighting rules for nav menu items */
.navbar .navbar-nav .active a,
.navbar .navbar-nav .active a:hover,
.navbar .navbar-nav .active a:focus {
    background-image: none;
    background-color: blue;
    color: white;
}

.navItem  {
    color: white;
}

.navbar {
    height: 5%;
    width: 100%;
    background-color: rgb(229,38,35);
    color: white;
    padding: 0px;
}
.navbar {
    border-radius: 0;
    border-width: 0;
    height: 5%;
    color: rgb(229,38,35);
}

.center-navbar {
    width: 30%;
    margin-left: 35%;
    align-items: center;
}
.center-item {
    margin-left: 0;
    margin-top: 8px;
    text-align: right;
        align-items: center;
}

    /* On large screens, convert the nav menu to a vertical sidebar */
    
    .navbar-brand {
        color: white;
        display: flex;
        align-items: center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
    }


    .navbar li  {
        font-size: 15px;
        background-color:  white;
    } 


    .toggle {
      background-color: rgb(229,38,35);
        color: white;
    }

        .navbar li a,
        .navbar li a:visited {
        padding: 10px 16px;
        border-radius: 4px;
        background-color: rgb(229,38,35);
        color: white;
        }

