﻿  .step {
    min-height: 450px;
    padding: 6px;
  }

  html .row, html .form-horizontal .form-group {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 0;
    }

  .footer-buttons {
    margin-top: 10px;
  }

  html .step3 label, html .step4 label {
    font-size: 16px;
    text-align: left;
  }

.red-bg {
    background-color: rgb(229,38,35);
    color: white;    
}

.white-bg {
  color: rgb(229,38,35);
  background-color: white;    
  border-color: rgb(229,38,35);
}

.input {
  outline: 0;
  border-width: 0 0 2px;
  border: none;
  border-color: transparent;
  font-size: 11px;
  width: 50%;
}

.input-flex {
  outline: 0;
  border-color: red;
  font-size: 11px;
  }

  .sh-input {
    outline: 0;
    border-width: 0 0 2px;
    border: none;
    border-color: transparent;
    font-size: 11px;
    width: 10%;
  }

.long-input {
  outline: 0;
  border-width: 0 0 2px;
  border: none;
  border-color: transparent;
  font-size: 11px;
  width: 70%;
}
.input-label {
  outline: 0;
  border-width: 0 0 2px;
  border: none;
  border-color: transparent;
  font-size: 11px;
}

.input-header {
  outline: 0;
  border-width: 0 0 2px;
  border: none;
  border-color: transparent;
  font-size: 12px;
  font-style: italic ;
  font-weight: bolder ;
}

.date-time {
    clear: none;
    float: right;
    margin-left: 0;
    width: 40.6779%;
    display: block;
    text-align: right;
    border-top: none;
}

.tab-header-bold {
  font-weight: bold;
  background-color: rgb(193, 196, 247);
  color: white;  
  font-size: 12px;
  height: 25px;
  padding: 10px 16px;
  border-radius: 4px;
  border-top: 0px;
}
.nav-tabs a.tab-header-blue.active {
  background-color: #2956a0;
  color: white;  
}

.blue-border {
border-color:  #2956a0;
margin-left: 8px;
}

.image-style {
  justify-content: center;
  align-self: center;
  width: 180px;
   height: 200px ;   
}

.content-center {
  justify-content: center;
  align-items: center;
}

.special {
  cursor: pointer;
}